{% extends '_base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

  <div class="content">
  <form class="form" role="form" method="post" action="">

    {{ form.csrf_token }}
    {{ form.hidden_tag() }}


	{{ render_field(form.email,'envelope',"Escribe tu correo") }}
	{{ render_field(form.password,'lock',"Escribe tu password") }}

	<div class="field is-grouped">
	  <div class="control">
		<button class="button is-primary" type="submit">Entrar</button>
	  </div>
	  <div class="control">
		<button class="button is-link"><a href="{{url_for('main.home')}}">Cancelar</a></button>
	  </div>
	</div>

      <p>¿Todavía no estás regisrado? <a href="{{ url_for('user.register') }}">Registrarse</a></p>
    </div>

  </form>
  </div>


{% endblock content %}
