{% extends '_base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

  <div class="content">
    <h3 class="title">Datos de registro</h3>


  <form class="form" role="form" method="post" action="">

    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

	{{ render_field(form.email,'envelope',"Escribe tu correo") }}
	{{ render_field(form.password,'lock',"Escribe tu password") }}
	{{ render_field(form.password,'refresh',"Reescribe tu password") }}


	<div class="field is-grouped">
	  <div class="control">
		<button class="button is-primary" type="submit">Registrarse</button>
	  </div>
	  <div class="control">
		<button class="button is-link"><a href="{{url_for('main.home')}}">Cancelar</></button>
	  </div>
	</div>
    </div>

  </form>
  </div>



{% endblock content %}
