<footer class="footer is-info">
  <div class="container">
    <div class="content has-text-centered">
	<hr/>
	
		<p>
			Constructivismo jurídico complejo: cognición, complejidad y derecho<br/>
			CONACYT Fronteras de la Ciencia (NUMERO)
		</p>

		Instituciones participantes:
		<p>
		<a href="https://www.juridicas.unam.mx">IIJ</a>,
		<a href="https://www.iimas.unam.mx">IIMAS</a>,
		<a href="https://www.unam.mx/">UNAM</a>,
		<a href="https://www.conacyt.mx">CONACYT</a>,
		</p>
    </div>
  </div>
</footer>




