<footer class="footer is-info">
  <div class="container">
    <div class="content has-text-centered">
	<hr/>

		<p>
			Sitio versión 0.1.0 </br>

			Constructivismo jurídico complejo: cognición, complejidad y derecho<br/>
			CONACYT Fronteras de la Ciencia (NUMERO)
		</p>

		<p>
  		Instituciones participantes:
  		<a href="https://www.juridicas.unam.mx">IIJ</a>,
  		<a href="https://www.iimas.unam.mx">IIMAS</a>,
  		<a href="https://www.unam.mx/">UNAM</a>,
  		<a href="https://www.conacyt.mx">CONACYT</a>,
		</p>
    <p>
      <img src="{{url_for('main.static', filename='footer_institutions_small.png')}}" alt="Instituciones participantes"/>
    </p>
    </div>
  </div>
</footer>
