{% extends "_base.html" %}

{% block content %}

<div class="content">
<p>
<h3 class="title">Publicaciones</h3>
<ul>
	<li>Por venir</li>
</ul>
</p>


<p>
<h3 class="title">Participantes</h3>
<ul>
	<h4>Responsable Técnico del Proyecto</h4>
	<li><a href="https://www.juridicas.unam.mx/investigador/perfil/caceres">Dr. Enrique Cáceres</a>, <a href="http://www.jurídicas.unam.mx">Instituto de Investigaciones Jurídicas</a></li>
	</br><h4>Investigadores participantes</h4>
	<li><a href="#">Dra. Frida Díaz Barriga Arceo</a>, <a href="http://www.psicologia.unam.mx/">Facultad de Psicología</a></li>
	<li><a href="https://salva.fisica.unam.mx/web_site/home_pages/105?locale=en">Dr. Adonis Germinal Cocho Gil</a>, <a href="http://scifunam.fisica.unam.mx/index.php">Instituto de Física</a></li>
	<li><a href="http://www.iis.unam.mx/indexcontent.php?_module=41">Dr. Fernando Castaños Zuno</a>, <a href="http://www.iis.unam.mx/">Instituto de Investigaciones Sociales</a></li>
	<li><a href="#">Dr. Ricardo Mansilla Corona</a>, <a href="http://www.ceiich.unam.mx/0/index.php">Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades</a></li>
	<li><a href="#">Professor Burkhard Schafer</a>, <a href="http://www.ed.ac.uk">The University of Edinburgh</a></li>
	<li><a href="http://turing.iimas.unam.mx/~ivanvladimir">Dr. Ivan Vladimir Meza Ruiz</a>, <a href="http://www.iimas.unam.mx">Instituto de Investigaciones en Matemáticas Aplicadas y en Sistemas</a></li>
	<li><a href="#">Dra. Margarita Palacios Sierra</a>, <a href="http://www.filos.unam.mx/">Facultad de Filosofía y Letras</a></li>
	</br><h4>Estudiantes participantes</h4>
	<li><a href="#">Mtra. Carmen Patricia López Olvera</a>, <a href="http://www.jurídicas.unam.mx">Instituto de Investigaciones Jurídicas</a></li>
	<li><a href="#">Lic. Giovanni Lizárraga Félix</a>, <a href="http://www.jurídicas.unam.mx">Instituto de Investigaciones Jurídicas</a></li>
	<li><a href="#">Lic. Raúl Gómez Toledo</a>, <a href="http://www.jurídicas.unam.mx">Instituto de Investigaciones Jurídicas</a></li>
	<li><a href="#">Lic. Daniel Atilano</a>, <a href="http://www.jurídicas.unam.mx">Instituto de Investigaciones Jurídicas</a></li>
	<li><a href="https://lidsol.net/">Ing. Paul Sebastian Aguilar Enriquez</a>, <a href="http://www.ingenieria.unam.mx/">Facultad de Ingeniería</a></li>
</ul>

</p>
</div>



{% endblock %}
