{% extends "_base.html" %}

{% block content %}

<div class="content">
<p>
<h3 class="title">Publicaciones</h3>
<ul>
	<li>Por venir</li>
</ul>
</p>


<p>
<h3 class="title">Participantes</h3>
<ul>
	<li><a href="">Dr. Enrique Cáceres</a>, <a href="http://www.jurídicas.unam.mx">Instituto de Investigaciones Jurídicas</a></li>
	<li>...</li>
	<li><a href="http://turing.iimas.unam.mx/~ivanvladimir">Dr. Ivan Vladimir Meza Ruiz</a>, <a href="http://www.iimas.unam.mx">Instituto de Investigaciones en Matemáticas Aplicadas y en Sistemas</a></li>
	<li>...</li>
</ul>

</p>
</div>



{% endblock %}
