{% extends "_base.html" %}

{% block content %}
<div class="content">

{% if ntop %}
<h3>{{ntop }} Artículos citados</h3>
{% else %}
<h3>Documentos citados</h3>
{% endif %}
<p>
	Total citas a artículos: {{total_articles}}</br>

<table class="table">
  <thead>
      <tr>
	        <th>Artículo</th>
	        <th>Documento</th>
	        <th>Citas</th>
	        <th>Percentage</th>
	  </tr>
  </thead>
  <tbody>
 	{% for (x,y),z in data.most_common(ntop) %}
		<tr><td class="has-text-right">{{y}}</td><td>{{x}}</td><td>{{z}}</td><td>{{"{0:.2%}".format(z/total_articles)}}</td></tr>
	{% endfor %}
  </tbody>
</table>


</p>
</div>

{% endblock %}
