<!--
 Penserbjorne - Sebastian Aguilar
 06/2017
 FI-IIMAS-IIJ-UNAM
 Based on https://bl.ocks.org/mbostock/4062045
 Custom HTML for graph
-->

{% extends "_base.html" %}
{% block css %}
<link href="{{url_for('main.static', filename='nouislider.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('main.static', filename='graph.css')}}" rel="stylesheet" media="screen" type="text/css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css" rel="stylesheet" type="text/css" />


{% endblock %}

{% block content %}
  <div class="field">
  <div id="slider"></div>
  <label class="label">Años</label>
  </div>



	<div class="content">

{% if params | length > 0 %}
<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Parámetros gráfico</span>
      <span class="icon is-small">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">


	<table class="table">
  	<thead>
    <tr>
      <th>Parámetros</th>
      <th>ER</th>
    </tr>
  	</thead>
  	<tbody>
	{% if params['include'] %}
    <tr>
      <td>Casos incluir</td>
      <td>{{params['include']}}</td>
    </tr>
	{% endif %}
	{% if params['exclude'] %}
    <tr>
      <td>Casos excluir</td>
      <td>{{params['exclude']}}</td>
    </tr>
	{% endif %}
	{% if params['include_doc'] %}
    <tr>
      <td>Citas incluir</td>
      <td>{{params['include_doc']}}</td>
    </tr>
	{% endif %}
	{% if params['exclude_doc'] %}
    <tr>
      <td>Citas excluir</td>
      <td>{{params['exclude_doc']}}</td>
    </tr>
	{% endif %}

  	</tbody>
  	</table>


      </div>
    </div>
  </div>
</div>
{% endif %}




	<div style="top:0; left:0; right:0; bottom:0; height:600px;" id="graph-ctn"></div>
	</div>
{% endblock %}

{% block js %}
<script src="{{url_for('main.static', filename='nouislider.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('main.static', filename='wNumb.js')}}" type="text/javascript"></script>
<script src="{{url_for('main.static', filename='graph.js')}}" type="text/javascript"></script>

<script>
$.getJSON('graph.json',{{params|safe}},function(data_) {load_data(data_)});
</script>
{% endblock %}
