<!--
 Penserbjorne - Sebastian Aguilar
 06/2017
 FI-IIMAS-IIJ-UNAM
 Based on https://bl.ocks.org/mbostock/4062045
 Custom HTML for graph
-->

{% extends "_base.html" %}
{% block css %}
<link href="{{url_for('main.static', filename='nouislider.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('main.static', filename='graph.css')}}" rel="stylesheet" media="screen" type="text/css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.0/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.0/vis.min.css" rel="stylesheet" type="text/css" />


{% endblock %}

{% block content %}
<div class="content">

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Nodos</p>
      <p class="title" id="len_nodes"></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Sentencias</p>
      <p class="title" id="len_sntcs"></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Citas</p>
      <p class="title" id="len_citations"></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Arcos</p>
      <p class="title" id="len_arcs"></p>
    </div>
  </div>
{% if params | length > 0 %}
<div class="level-item has-text-centered">
<div>
      <p class="heading">Gráfico</p>
      <div class="title" id="len_arcs">
<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Parámetros</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">

	<table class="table">
  	<thead>
    <tr>
      <th>Caso</th>
      <th>ER</th>
    </tr>
  	</thead>
  	<tbody>
	{% if params['include'] %}
    <tr>
      <td>Sentencia incluidas</td>
      <td>{{params['include']}}</td>
    </tr>
	{% endif %}
	{% if params['exclude'] %}
    <tr>
      <td>Sentencias excluidas</td>
      <td>{{params['exclude']}}</td>
    </tr>
	{% endif %}
	{% if params['include_doc'] %}
    <tr>
      <td>Citas incluidas</td>
      <td>{{params['include_doc']}}</td>
    </tr>
	{% endif %}
	{% if params['exclude_doc'] %}
    <tr>
      <td>Citas excluidas</td>
      <td>{{params['exclude_doc']}}</td>
    </tr>
	{% endif %}

  	</tbody>
  	</table>


      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
{% endif %}
<div class="level-item has-text-centered">
  <div>
    <p class="heading">Información</p>

    <a class="button" onclick="showInfoPageGrafo();">
      <span>Grafo</span>
      <span class="icon is-small">
        <i class="fas fa-info"></i>
      </span>
    </a>

  </div>
</div>
</nav>

<hr/>

<div class="container">

	<div class="field">
	    <div class="control">
			<input class="input is-primary" type="text" id="myFilterNode" onkeyup="myFilterNode()" placeholder="Buscar">
	   </div>
	</div>



  	<div style="top:0; left:0; right:0; bottom:0; height:600px;" id="graph-ctn"></div>


	<div class="box">
    <div id="meta" class="field is-grouped is-grouped-multiline">

    {% if not params['include'] or 'argentina' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'argentina');" id="cargentina">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Argentina</span>
          <span class="tag" style="background-color: #922B21;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or 'barbados' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'barbados');" id="cbarbados">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Barbados</span>
          <span class="tag" style="background-color: #CB4335;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or 'bolivia' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'bolivia');" id="cbolivia">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Bolivia</span>
          <span class="tag" style="background-color: #884EA0;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'brasil' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'brasil');" id="cbrasil">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Brasil</span>
          <span class="tag" style="background-color: #7D3C98;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'chile' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'chile');" id="cchile">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Chile</span>
          <span class="tag" style="background-color: #2471A3;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'colombia' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'colombia');" id="ccolombia">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Colombia</span>
          <span class="tag" style="background-color: #2E86C1;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'costa' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'costa rica');" id="ccosta rica">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Costa Rica</span>
          <span class="tag" style="background-color: #2E86C1;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'dominicana' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'dominicana');" id="cdominicana">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Dominicana</span>
          <span class="tag" style="background-color: #17A589;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'ecuador' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'ecuador');" id="cecuador">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Ecuador</span>
          <span class="tag" style="background-color: #138D75;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'salvador' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'salvador');" id="cel salvador">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">El Salvador</span>
          <span class="tag" style="background-color: #F1C40F;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'guatemala' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'guatemala');" id="cguatemala">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Guatemala</span>
          <span class="tag" style="background-color: #D68910;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'granada' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'granada');" id="cgranada">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Granada</span>
          <span class="tag" style="background-color: #D68910;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'haití' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'haití');" id="chaití">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Haití</span>
          <span class="tag" style="background-color: #800000;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'honduras' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'honduras');" id="chonduras">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Honduras</span>
          <span class="tag" style="background-color: #008080;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'jamaica' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'jamaica');" id="cjamaica">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Jamaica</span>
          <span class="tag" style="background-color: #FFFF00;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'méxico' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'méxico');" id="cméxico">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">México</span>
          <span class="tag" style="background-color: #008000;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'nicaragua' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'nicaragua');" id="cnicaragua">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Nicaragua</span>
          <span class="tag" style="background-color: #0000FF;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'panamá' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'panamá');" id="cpanama">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Panama</span>
          <span class="tag" style="background-color: #000080;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'paraguay' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'paraguay');" id="cparaguay">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Paraguay</span>
          <span class="tag" style="background-color: #800080;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'perú' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'perú');" id="cperú">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Perú</span>
          <span class="tag" style="background-color: #FF0000;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'dominicana' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'dominicana');" id="crepública dominicana">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">República Dominicana</span>
          <span class="tag" style="background-color: #FF5733;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'trinidad' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'trinidad');" id="ctrinidad y tobago">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Trinidad y Tobago</span>
          <span class="tag" style="background-color: #808000;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'surinam' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'surinam');" id="csurinam">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Surinam</span>
          <span class="tag" style="background-color: #FFCE00;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'uruguay' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'uruguay');" id="curuguay">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Uruguay</span>
          <span class="tag" style="background-color: #5AC8D8;"></span>
        </div>
      </div>
    </label>
    {% endif %}

    {% if not params['include'] or  'venezuela' in params['include'] %}
    <label class="checkbox control">
      <input type="checkbox" checked onclick="countryChange(this,'venezuela');" id="cvenezuela">
      <div class="control" style="display: inline-block;">
        <div class="tags has-addons">
          <span class="tag">Venezuela</span>
          <span class="tag" style="background-color: #CF0A2C;"></span>
        </div>
      </div>
    </label>
    {% endif %}
      </div>
      </div>

      <br>
<br/>

<div class="field">
  <div id="slider"></div>
  <label class="label">Años</label>
</div>
</div>

<div class="container">
<br/>
<br/>
	<div id="infoNode"></div>

</div>

<div class="modal" id="myModalGrafo">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Grafo</p>
      <button class="delete" aria-label="close" onclick="closeInfoPageGrafo();"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <p>En el grafo tenemos nodos (círculos) identificados por colores y tamaño.</p>
      <p>Los nodos de tamaño más pequeño y de color amárillo son las <span class="tag">cítas o elementos legáles</span><span class="tag" style="background-color: yellow">.</span>, el resto son los países que pertenecen a la Corte Interamericana de Derechos Humanos (CIDH).</p>
      <p>Los arcos sirven para enlazar a los países con los documentos citados y su grosor depende de la cantidad de citas realizadas.</p>
      <p>Los países se encuentran identificados por colores dentro del grafo de la siguiente manera:</p>
      <div id="meta" class="field is-grouped is-grouped-multiline">

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Argentina</span>
            <span class="tag" style="background-color: #922B21;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Barbados</span>
            <span class="tag" style="background-color: #CB4335;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Bolivia</span>
            <span class="tag" style="background-color: #884EA0;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Brasil</span>
            <span class="tag" style="background-color: #7D3C98;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Chile</span>
            <span class="tag" style="background-color: #2471A3;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Colombia</span>
            <span class="tag" style="background-color: #2E86C1;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Costa Rica</span>
            <span class="tag" style="background-color: #2E86C1;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Dominicana</span>
            <span class="tag" style="background-color: #17A589;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Ecuador</span>
            <span class="tag" style="background-color: #138D75;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">El Salvador</span>
            <span class="tag" style="background-color: #F1C40F;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Guatemala</span>
            <span class="tag" style="background-color: #D68910;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Granada</span>
            <span class="tag" style="background-color: #D68910;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Haití</span>
            <span class="tag" style="background-color: #800000;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Honduras</span>
            <span class="tag" style="background-color: #008080;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Jamaica</span>
            <span class="tag" style="background-color: #FFFF00;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">México</span>
            <span class="tag" style="background-color: #008000;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Nicaragua</span>
            <span class="tag" style="background-color: #0000FF;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Panama</span>
            <span class="tag" style="background-color: #000080;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Paraguay</span>
            <span class="tag" style="background-color: #800080;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Perú</span>
            <span class="tag" style="background-color: #FF0000;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">República Dominicana</span>
            <span class="tag" style="background-color: #FF5733;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Trinidad y Tobago</span>
            <span class="tag" style="background-color: #808000;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Surinam</span>
            <span class="tag" style="background-color: #FFCE00;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Uruguay</span>
            <span class="tag" style="background-color: #5AC8D8;"></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Venezuela</span>
            <span class="tag" style="background-color: #CF0A2C;"></span>
          </div>
        </div>

      </div>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" onclick="closeInfoPageGrafo();">Aceptar</button>
      <!--<button class="button" onclick="closeInfoPage();">Cancel</button>-->
    </footer>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{{url_for('main.static', filename='nouislider.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('main.static', filename='wNumb.js')}}" type="text/javascript"></script>
<script src="{{url_for('main.static', filename='graph.js')}}" type="text/javascript"></script>

<script>
$.getJSON('graph.json',{{params|safe}},function(data_) {load_data(data_)});
</script>
{% endblock %}
