{% extends "_base.html" %}

{% block content %}

<div class="content">
    <h3 class="title">Documentos</h3>

	<div class="field">
	    <div class="control">
			<input class="input is-primary" type="text" id="myFilterLaw" onkeyup="myFilterLaw()" placeholder="Palabras claves">
	   </div>
	</div>


	<table class="table" id='lawsTable'>
    <thead>
      <tr>
        <th>Caso</th>
        <th>Serie</th>
        <th>Fecha</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
	  {% for doc in docs %}
      <tr>
        <td><a href="{{url_for('main.law',idd=doc.eid)}}">{{doc.meta_name.name}}<a></td>
        <td>{{doc.meta_name.number}}</td>
        <td>{{doc.meta_name.date_sentence}}</td>
        <td>
		<a href="{{doc.pdf}}">
			<span class="icon">
        	<i class="fa fa-file-pdf-o"></i>
      		</span>
		</a>
		<a href="{{doc.txt}}">
			<span class="icon">
        	<i class="fa fa-file-text"></i>
      		</span>
		</a>
		</td>


      </tr>
	 {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
