{% extends "_base.html" %}

{% block content %}

<div class="body-content">
  <div class="row">
    <h1>Documentos</h1>

	<input type="text" id="myFilterLaw" onkeyup="myFilterLaw()" placeholder="Filtrar las sentencias">

	<table class="table" id='lawsTable'>
    <thead>
      <tr>
        <th>Caso</th>
        <th>Serie</th>
        <th>Fecha</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
	  {% for doc in docs %}
      <tr>
        <td><a href="{{url_for('main.law',idd=doc.eid)}}">{{doc.meta_name.name}}<a></td>
        <td>{{doc.meta_name.number}}</td>
        <td>{{doc.meta_name.date_sentence}}</td>
        <td>[<a href="{{doc.pdf}}">pdf</a>|<a href="{{doc.txt}}">txt</a>]</td>
      </tr>
	 {% endfor %}
    </tbody>
  </table>
  </div>
</div>

{% endblock %}
