{% extends "_base.html" %}

{% block content %}

<div class="content">
<p>
<ul>
	<li><a href="{{url_for("main.cases_country")}}">Casos por país</li>
	<li><a href="{{url_for("main.documents_citation")}}">Documentos citados</li>
	<li><a href="{{url_for("main.articles_citation")}}">Artículos citados</li>
	<li><a href="{{url_for("main.numbers_arcs_country")}}">Citas normalizadas por país</li>
	<li><a href="{{url_for("main.numbers_adc_country")}}">Promedio grado de centralidad por país</li>
	<li><a href="{{url_for("main.numbers_density_country")}}">Densidad por país</li>
</ul>
</p>
</div>

{% endblock %}
