/* custom css */

html, body, svg { width: 100%; height: 100%;}

.site-content {
  padding-top: 75px;
}


iframe {
    height: auto !important;
    min-height: 600px; /* or whatever */
    max-height: 5000px; /* or whatever */
}
